services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "3001:3001"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/nfc-e-pro
      - PORT=3001
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data:
